@font-face {
    font-family: "Reclamo";
    src: url("ressources/font/Reclamo/Reclamo-Light.woff2") format('woff2');
    font-weight: light;
}

@font-face {
    font-family: "Reclamo";
    src: url("ressources/font/Reclamo/Reclamo-Medium.woff2") format('woff2');
    font-weight: medium;
}

@font-face {
    font-family: "Reclamo";
    src: url("ressources/font/Reclamo/Reclamo-Regular.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Reclamo";
    src: url("ressources/font/Reclamo/Reclamo-SemiBold.woff2") format('woff2');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: white;
    --green-color: #D5FF40;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul {
    list-style-type: none;
}

body {
    background-color: #0b0b0b;
    overflow-x: hidden;

}

/* NAV BAR  */
.nav-bar {
    margin-top: 20px;
}

.nav {
    font-family: "Reclamo";
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: var(--white-color);
    padding-bottom: 10px;
    border-bottom: solid #fff 3px;
}

/* ACCEUIL  */
#nom {
    color: var(--white-color);
}

#profession {
    color: var(--green-color);
    width: 800px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px;
    border-bottom: solid #fff 3px;
}

#txt-nom {
    font-family: 'Reclamo';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
   
}
#profession{
    width: 500px;

}

#photo {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Accueil{
    /* margin: -100px; */
}
@media only screen and (max-width: 767px) {
    #container {
        flex-direction: column;
    }
}